/* You can add global styles to this file, and also import other style files */


/* ====================
   Global FONT-FAMILY
 ====================== */
@import url(https://fonts.googleapis.com/css?family=Caudex);
* {
    font-family: 'Caudex', cursive;
}


/* ====================
    All global variable
 ====================== */

$background-color: #ebeced;


/* ====================
      Global CSS 
 ====================== */

body {
    background-color: $background-color; 
    overflow-x: hidden;
}

.centerLoading {
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url(./assets/loading.gif);
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

/* ====================
 common card layout css 
 ====================== */

.card {
    margin-top: 50px;
    padding: 3em;
    line-height: 1.5em; 
}

@media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; 
    } 
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}

/* ====================
 common box-shadow css 
 ====================== */

.custom-box-style {
  background-color: #fff !important;
  border-radius: 0px;
  box-shadow: 0 1px 4px rgba(41, 51, 57, 0.5);
}

/* ====================
 common modal layout css 
 ====================== */

.modal-sm, , .modal-md , .modal-lg {
  border-radius: 0px !important;
}

/* ====================
 default tag custom css 
 ====================== */

a,
a:focus,
a:active {
    text-decoration: none !important;
    outline: none !important;
}

input[type='text'], input[type='password'], input[type='email'], textarea {
    width: 100%; 
    border: 2px solid #d7d7d7;
    padding: 12px 20px;
    font-size: 13px;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
    resize: none;
}

input:focus, textarea:focus {
    box-shadow: 0 0 2px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
}

select {
    border-radius: 0px !important;
}



/* This is for input type = range */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
  border-radius: 0px !important;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 0px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 0px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(42, 100, 149, 0.78);
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}