<div class="container">
	 <!-- <div class="col-md-2"></div> -->
	 <div class="col-md-12" style="background-color: gainsboro;">
                <div class="card" >
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">test </h4>

                        <p class="category">some text </p>

                    </div> <!-- card header portion end-->
                    
              <div class="card-content table-responsive">
                  
                    <p> some text here</p>

                    </div>
                 
                </div>
            </div>
	 <!-- <div class="col-md-2"></div> -->
</div>

  
